<form action="/balance/index">
	<div class="row">
		<div class="col">
			<br>
			<label for="start_date">Data Inicial:</label>
			<input type="date" id="start_date" name="start_date">
		</div>
		<div class="col">
			<label for="end_date">Data Final:</label>
			<input type="date" id="end_date" name="end_date">
		</div>
		<div class="col">
				<input type="submit" value="Buscar" class="btn btn-primary">
		</div>
	</div>
</form>
<br>

<table class="table table-hover">
	<thead>
		<tr>
			<th scope="col">Saldo</th>
			<th scope="col">Tipo</th>
			<th scope="col">Valor</th>
			<th scope="col">Data</th>
		</tr>
	</thead>
	<tbody>
		<% @balances.each do |balance| %>
			<tr>
				<td><%=  balance.try(:amount) %></td>
				<td><%=  balance.try(:get_type) %></td>
				<td><%=  balance.try(:get_value) %></td>
				<td><%=  balance.try(:created_at) %></td>
			</tr>
		<% end %>
	</tbody>
</table>
